<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css"> 
    <link rel="shortcut icon" href="\images\logo.jpeg" type="image">
    <title>Taste Of Chennai</title>

</head>
<body>
    
    
    <div class="background"></div>
    <div class="animatedh1">
        <h1>Taste Of Chennai</h1>
    </div>
    
    <div class="login-container">
       
        <form class="login-form" method="POST" action="/login">
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="submit" value="Login">
        </form>
        <div class="logina"><a  class="ahreflogin" href="/">Go back Home?</a></div>
    </div>
    
</body>
</html>